table{
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    padding: 10px;
    margin-bottom: 50px;
}

input{
    width: 40px;
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
    color: #be0f0f;
    margin-bottom: 2px;
}

a:link{
    text-decoration: none;
}


.form-control{
    height: 40px;
    margin: 0px 0px 0px 2px;
}

button.btn{
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left:2px;
}

.dropdown-toggle{
    margin: 0px 2px 0px 2px;
    height: 40px;
}

.acoes{
    display: flex;
}
.acoes a{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:2px;
    height: 40px;
    font-size: 15px;
}

.green{
    color: rgb(2, 110, 2);
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    max-width: 98%;
    flex-wrap: wrap;
    border-bottom: rgb(200, 200, 200) solid 1px;
}

.table_form{
    padding: 10px 1px 10px 1px;
    margin-bottom: 5px;
    border: solid 1.5px rgb(255, 202, 104);
    background-color: #ffffc4;
}














